<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Quick Task Manager</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='styles.css') }}">
</head>

<body>
    <header>
        <h1>Supercharge Your Productivity with Quick Task Manager</h1>
        <p>Your Ultimate Companion for Efficient Task Management</p>
    </header>

    <section class="about">
        <h2>Revolutionizing Task Management for Peak Productivity</h2>
        <p>Introducing Quick Task Manager – the game-changer in the world of task management. Say goodbye to chaos and hello to streamlined efficiency.</p>
        <p>With Quick Task Manager, every task becomes an opportunity for success. Stay organized, meet deadlines, and conquer your goals like never before.</p>
    </section>

    <section class="key-features">
        <h2>Unleash the Power of Quick Task Manager</h2>
        <p>Quick Task Manager isn't just an app; it's a transformational experience. Unlock a world of features designed to empower you:</p>
        <ul>
            <li><strong>Effortless Task Management:</strong> Create and edit tasks with unparalleled ease.</li>
            <li><strong>Prioritize Like a Pro:</strong> Manage priorities and due dates at your fingertips.</li>
            <li><strong>Intuitive Interface:</strong> A user-friendly design for a delightful and efficient experience.</li>
            <!-- Add more features as needed -->
        </ul>
        <p>Experience the evolution of task management with Quick Task Manager.</p>
    </section>

    <section class="demo">
        <h2>See it in Action</h2>
        <p>Immerse yourself in the Quick Task Manager experience. Witness the seamless flow of productivity through our interactive demo:</p>
        <div class="demo-images">
            <img src="{{ url_for('static', filename='image1.png') }}" alt="Task Creation" class="demo-image">
            <img src="{{ url_for('static', filename='image2.jpg') }}" alt="Priority Management" class="demo-image">
            <img src="{{ url_for('static', filename='image3.png') }}" alt="Intuitive Interface" class="demo-image">
            <img src="{{ url_for('static', filename='image4.png') }}" alt="Efficient Task Editing" class="demo-image">
        </div>
    </section>

    <section class="github">
        <h2>Get Your Hands on the Code</h2>
        <p>Ready to explore the magic behind Quick Task Manager? Dive into the code on GitHub and witness the brilliance:</p>
        <p>GitHub Repository: <a href="https://github.com/Diorigamy/quick_task_manager" target="_blank">Quick Task Manager Repository</a></p>
    </section>

    <section class="team-members">
        <h2>Meet the Brilliant Minds Behind Quick Task Manager</h2>
        <p>Our dream team is passionate about transforming the way you manage tasks. Get to know the brilliant minds shaping the future:</p>
        <!-- Lewis Wangui -->
        <div class="team-member">
            <img src="{{ url_for('static', filename='wangui.jpg') }}" alt="lewis">
            <p>
                Lewis Wangui<br>
                <a href="https://www.linkedin.com/in/" target="_blank">LinkedIn</a><br>
                <a href="https://github.com/diorigamy" target="_blank">GitHub</a><br>
                <a href="https://twitter.com/LWakahenya" target="_blank">Twitter</a>
            </p>
        </div>

        <!-- Carolina Nyakio -->
        <div class="team-member">
            <img src="{{ url_for('static', filename='nyakio.jpg') }}" alt="carol">
            <p>
                Carolina Nyakio<br>
                <a href="https://www.linkedin.com/in/" target="_blank">LinkedIn</a><br>
                <a href="https://github.com/lynlinah" target="_blank">GitHub</a><br>
                <a href="https://twitter.com/Carol24976130" target="_blank">Twitter</a>
            </p>
        </div>
    </section>

    <section class="create-task">
        <h2>Create a New Task</h2>
        <form action="{{ url_for('create_task') }}" method="post">
            <label for="task-description">Task Description:</label>
            <input type="text" id="task-description" name="task_description" required>
            <button type="submit">Create Task</button>
        </form>
    </section>

    <footer>
        <p>&copy; 2023 Elevate Your Productivity with Quick Task Manager</p>
        <p> 2023 Portfolio Project for <a href="https://www.holbertonschool.com/" target="_blank"> Holberton School </a><br> & <a href="https://www.alxafrica.com/target="_blank">ALX Leadership Africa</a><br></p>
    </footer>

    <script src="{{ url_for('static', filename='script.js') }}"></script>
</body>

</html>

