<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Quick Task Manager</title>
</head>

<body>
    <header>
        <h1>Quick Task Manager</h1>
        <p>An efficient way to manage your tasks</p>
    </header>

    <section>
        <h2>Demo</h2>
        <!-- Display tasks from the database -->
        <ul>
            {% for task in tasks %}
            <li>{{ task.title }}</li>
            {% endfor %}
        </ul>
    </section>

    <footer>
        <p>&copy; 2023 Portfolio Project for <a href="https://www.holbertonschool.com/" target="_blank">Holberton School </a><br> & <a href="https://www.alxafrica.com/target="_blank">ALX Leadership Africa</a><br></p>
    </footer>

    <script src="script.js"></script>
</body>

</html>
